.feet {
	padding: 0 0 71px 0;
	&__wrapper {
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
	}
	&__img {
		width: 169px;
		height: 169px;
		margin-left: 30px;
	}
	&__item {
		width: 650px;
		display: flex;
		flex-direction: column;
	}
	&__subtitle {
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
	}
	&__subtitle_mini {
		color: #646464;
		font-size: 14px;
		font-weight: 200;
	}
	&__descr {
		margin-top: 19px;
		color: #0d0d0d;
		font-size: 16px;
		font-weight: 500;
	}
}