.title { 
	text-align: center;
	color: #0d0d0d;
	font-size: 29px;
	font-weight: 700;
	text-transform: uppercase;	
}
.title_left {
	color: #ffffff;
	font-size: 36px;
	text-align: left;
	line-height: 40px;
}

.title__feet {
	color: #0d0d0d;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}